@-webkit-keyframes STAR-MOVE {
	from {
		background-position: 0% 0%
	}
	to { 
		background-position: 00% 222222200%
	}
}
@keyframes STAR-MOVE {
	from {
		background-position: 0% 0%
	}
	to { 
		background-position: 00% 222222200%
	}
}
@-webkit-keyframes rocket{
	100%
	{
		-webkit-transform:translateY(20px);
		transform:translateY(20px)
	}
}
@-o-keyframes rocket{
	100%
	{
		-o-transform:translateY(20px);
		transform:translateY(20px)
	}
}
@-ms-keyframes rocket{
	100%
	{
		-ms-transform:translateY(20px);
		transform:translateY(20px)
	}
}
@keyframes rocket{
	100%
	{
		transform:translateY(20px)
	}
}
body{
	background: black url(../images/star-bg.png) repeat 0% 0%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 200000s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}
.rocket-wrapper{
	width: 30px;
	margin: 0 auto;
	color: #FFF;
}
.rocket-inner{
	position: absolute;
	bottom: 100px;
}
.rocket-bg{
	background: url('../images/rocket.png') no-repeat;
	width: 268px;
	height: 450px;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	z-index: 2;
	margin-left: -132px;
}
.flame{
	float: left;
	margin-left: 1px;
	position: relative;
	margin-top: 500px;
}
.flame-rev{
	transform:scale(-1,1);
	-ms-transform:scale(-1,1); /* IE 9 */
	-webkit-transform:scale(-1,1); /* Safari and Chrome */
}
.flameon{
	width: 20px;
	height: 40px;
	box-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
	position: absolute;
	bottom: -62px;
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Safari and Chrome */
	margin-left: 1px;
	z-index: 0;

}
.flame1{
	-webkit-animation:rocket .2s infinite ease-in-out alternate;
	-moz-animation:rocket .2s infinite ease-in-out alternate;
	-ms-animation:rocket .2s infinite ease-in-out alternate;
	-o-animation:rocket .2s infinite ease-in-out alternate;
	animation:rocket .2s infinite ease-in-out alternate;
}
.flame2{
	-webkit-animation:rocket 0.7s infinite ease-in-out alternate;
	-moz-animation:rocket 0.7s infinite ease-in-out alternate;
	-ms-animation:rocket 0.7s infinite ease-in-out alternate;
	-o-animation:rocket 0.7s infinite ease-in-out alternate;
	animation:rocket 0.7s infinite ease-in-out alternate;
}
.flame3{
	-webkit-animation:rocket 0.3s infinite ease-in-out alternate;
	-moz-animation:rocket 0.3s infinite ease-in-out alternate;
	-ms-animation:rocket 0.3s infinite ease-in-out alternate;
	-o-animation:rocket 0.3s infinite ease-in-out alternate;
	animation:rocket 0.3s infinite ease-in-out alternate;
}